
<h1 class="home-h1">Organize sua vida, conquiste seus objetivos!</h1>
<div class="home-container">
    <div class="home-paragraph">
        <p>Bem-vindo à sua central de produtividade, onde a organização se encontra com a simplicidade. Transforme seus planos
            em ação, gerencie suas tarefas diárias e alcance novas conquistas. Desperte o poder da eficiência com a nossa To-Do
            List intuitiva e personalizável. Comece agora a moldar o seu dia, um passo de cada vez.</p>

    </div>
    <div>
        <svg class="animated" id="freepik_stories-taking-notes" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" version="1.1" xmlns:svgjs="http://svgjs.com/svgjs">
            <style>
                svg#freepik_stories-taking-notes:not(.animated) .animable {
                    opacity: 0;
                }
        
                svg#freepik_stories-taking-notes.animated #freepik--background-simple--inject-104 {
                    animation: 1.5s Infinite linear wind;
                    animation-delay: 0s;
                }
        
                svg#freepik_stories-taking-notes.animated #freepik--Device--inject-104 {
                    animation: 6s Infinite linear floating;
                    animation-delay: 1s;
                }
        
                svg#freepik_stories-taking-notes.animated #freepik--Table--inject-104 {
                    animation: 6s Infinite linear wind;
                    animation-delay: 0s;
                }
        
                svg#freepik_stories-taking-notes.animated #freepik--Character--inject-104 {
                    animation: 6s Infinite linear floating;
                    animation-delay: 0s;
                }
        
                @keyframes wind {
                    0% {
                        transform: rotate(0deg);
                    }
        
                    25% {
                        transform: rotate(1deg);
                    }
        
                    75% {
                        transform: rotate(-1deg);
                    }
                }
        
                @keyframes floating {
                    0% {
                        opacity: 1;
                        transform: translateY(0px);
                    }
        
                    50% {
                        transform: translateY(-10px);
                    }
        
                    100% {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            </style>
            <g id="freepik--background-simple--inject-104" class="animable" style="transform-origin: 251.656px 254.088px;">
                <path
                    d="M185.66,107.38A194.35,194.35,0,0,0,143,127.08a158.27,158.27,0,0,0-32.35,27.06C62.79,206.59,52,289.4,91.71,349.57c21.9,33.19,65.11,67.2,107.08,63.55,29.68-2.58,57.19-17.69,87.48-15,31.2,2.8,59.5,7,88.53-8.85,31.09-16.95,50.64-50.55,57.4-85.31,8.38-43.14,2.47-93.17-16.83-132.68C377.44,93.69,266.25,80.79,185.66,107.38Z"
                    style="fill: #6268A2; transform-origin: 251.656px 254.088px;" id="elvatjbdz45xs" class="animable"></path>
                <g id="el7i0fig5ts3i">
                    <path
                        d="M185.66,107.38A194.35,194.35,0,0,0,143,127.08a158.27,158.27,0,0,0-32.35,27.06C62.79,206.59,52,289.4,91.71,349.57c21.9,33.19,65.11,67.2,107.08,63.55,29.68-2.58,57.19-17.69,87.48-15,31.2,2.8,59.5,7,88.53-8.85,31.09-16.95,50.64-50.55,57.4-85.31,8.38-43.14,2.47-93.17-16.83-132.68C377.44,93.69,266.25,80.79,185.66,107.38Z"
                        style="fill: rgb(255, 255, 255); opacity: 0.8; transform-origin: 251.656px 254.088px;" class="animable"
                        id="elknzzgieet1m"></path>
                </g>
            </g>
            <g id="freepik--Floor--inject-104" class="animable" style="transform-origin: 250.07px 338.22px;">
                <line x1="69.39" y1="338.22" x2="430.75" y2="338.22"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 250.07px 338.22px;"
                    id="eljw3m834v3pb" class="animable"></line>
            </g>
            <g id="freepik--Device--inject-104" class="animable" style="transform-origin: 243.765px 393.17px;">
                <g id="elm9gdc7jq67">
                    <polygon points="232.68 395.61 267.72 415.11 269.05 427.11 312.39 397.77 314.3 380.7 232.68 395.61"
                        style="opacity: 0.28; transform-origin: 273.49px 403.905px;" class="animable" id="el7ujdpsts26c">
                    </polygon>
                </g>
                <polygon points="272.56 409.03 232.68 395.61 275.54 372.88 314.3 380.7 272.56 409.03"
                    style="fill: rgb(255, 255, 255); transform-origin: 273.49px 390.955px;" id="elfop44r2lrbi" class="animable">
                </polygon>
                <g style="clip-path: url(&quot;#freepik--clip-path--inject-104&quot;); transform-origin: 273.49px 390.955px;"
                    id="elxniyqw5hit" class="animable">
                    <g id="elpy51awhoegn">
                        <polygon points="272.56 409.03 232.68 395.61 275.54 372.88 314.3 380.7 272.56 409.03"
                            style="opacity: 0.15; transform-origin: 273.49px 390.955px;" class="animable" id="el4ctjrxv1dli">
                        </polygon>
                    </g>
                </g>
                <polygon points="272.56 409.03 232.68 395.61 275.54 372.88 314.3 380.7 272.56 409.03"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 273.49px 390.955px;"
                    id="el3w6us2vdf43" class="animable"></polygon>
                <polygon points="280.39 383.31 268.56 380.44 255.01 387.62 266.97 390.77 280.39 383.31"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 267.7px 385.605px;"
                    id="elcqm4rjt8jwu" class="animable"></polygon>
                <polygon points="287.84 379.59 253.18 398.22 272.77 404.93 305.05 383.03 287.84 379.59"
                    style="fill: rgb(38, 50, 56); transform-origin: 279.115px 392.26px;" id="el9szn6gcawh" class="animable">
                </polygon>
                <polygon points="291.19 356.11 272.56 409.03 314.3 380.7 330.7 336.35 291.19 356.11"
                    style="fill: rgb(255, 255, 255); transform-origin: 301.63px 372.69px;" id="elmawabgq5nmm" class="animable">
                </polygon>
                <g style="clip-path: url(&quot;#freepik--clip-path-2--inject-104&quot;); transform-origin: 301.63px 372.69px;"
                    id="elkmj98pehado" class="animable">
                    <g id="elakts4dhmcel">
                        <polygon points="291.19 356.11 272.56 409.03 314.3 380.7 330.7 336.35 291.19 356.11"
                            style="opacity: 0.15; transform-origin: 301.63px 372.69px;" class="animable" id="elfwuptoseu28">
                        </polygon>
                    </g>
                </g>
                <polygon points="291.19 356.11 272.56 409.03 314.3 380.7 330.7 336.35 291.19 356.11"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 301.63px 372.69px;"
                    id="elpsa0ks18zhn" class="animable"></polygon>
                <polygon points="156.83 410.09 181.95 445.92 222.22 431.15 194.51 400.12 156.83 410.09"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 189.525px 423.02px;"
                    id="eljs5h271kjy" class="animable"></polygon>
                <polygon points="213.35 400.49 249.18 430.41 199.68 449.99 169.76 411.94 213.35 400.49"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 209.47px 425.24px;"
                    id="elwvmrih65xpb" class="animable"></polygon>
            </g>
            <g id="freepik--Pictures--inject-104" class="animable" style="transform-origin: 304.98px 133.43px;">
                <rect x="266.62" y="66.18" width="78.77" height="101.63"
                    style="fill: #6268A2; transform-origin: 306.005px 116.995px;" id="elrivawul14y" class="animable"></rect>
                <g id="elykalsn0tzgj">
                    <rect x="266.62" y="66.18" width="78.77" height="101.63"
                        style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 306.005px 116.995px;" class="animable"
                        id="elwzxo55ddrz"></rect>
                </g>
                <rect x="277.12" y="79.73" width="57.76" height="74.53"
                    style="fill: rgb(255, 255, 255); transform-origin: 306px 116.995px;" id="elq27e42p8a5m" class="animable">
                </rect>
                <rect x="369.56" y="133.77" width="51.85" height="66.91"
                    style="fill: #6268A2; transform-origin: 395.485px 167.225px;" id="el1twxef6c7xc" class="animable"></rect>
                <g id="el79ja004wt4k">
                    <rect x="369.56" y="133.77" width="51.85" height="66.91"
                        style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 395.485px 167.225px;" class="animable"
                        id="ela1h1cjepxdn"></rect>
                </g>
                <rect x="376.47" y="142.69" width="38.03" height="49.07"
                    style="fill: rgb(255, 255, 255); transform-origin: 395.485px 167.225px;" id="el875imyhtl8t"
                    class="animable"></rect>
                <rect x="188.55" y="133.77" width="51.85" height="66.91"
                    style="fill: #6268A2; transform-origin: 214.475px 167.225px;" id="el2prdbih1ij9" class="animable"></rect>
                <g id="elcu8lk1tdzmg">
                    <rect x="188.55" y="133.77" width="51.85" height="66.91"
                        style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 214.475px 167.225px;" class="animable"
                        id="elpdqs9kd67h"></rect>
                </g>
                <rect x="195.47" y="142.69" width="38.03" height="49.07"
                    style="fill: rgb(255, 255, 255); transform-origin: 214.485px 167.225px;" id="el74zpy5lncm" class="animable">
                </rect>
            </g>
            <g id="freepik--Table--inject-104" class="animable" style="transform-origin: 347.327px 274.765px;">
                <g id="elpk1lts9uem">
                    <rect x="282.25" y="340.05" width="139.53" height="3.57"
                        style="opacity: 0.28; transform-origin: 352.015px 341.835px;" class="animable" id="elqmpp8nwi5d"></rect>
                </g>
                <polygon points="379.43 240.37 394.43 240.37 406.22 267.99 391.22 267.99 379.43 240.37"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 392.825px 254.18px;"
                    id="el8o9g6stcrwf" class="animable"></polygon>
                <polygon points="399.37 233.03 376.3 233.03 363 267.99 386.07 267.99 399.37 233.03"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 381.185px 250.51px;"
                    id="elmzqryxzh0p" class="animable"></polygon>
                <polygon points="395 237.23 377.47 237.23 367.37 263.79 384.9 263.79 395 237.23"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 381.185px 250.51px;"
                    id="elyk6v5ijey38" class="animable"></polygon>
                <path
                    d="M340.42,212.67s7.41-3.11-.25-3.31-17.49,10.73-16.79,9.68,3.24-8.55-1.49-3.54-8,20.77-8,20.77a51.48,51.48,0,0,0,.82-9.82c-.15-4.86-3.4-17.15-8.35-18.1-3.24-.63-1.87,3.13-.54,5.82-1.74-2.72-5.17-6.8-10.59-8-8.34-1.82-14.38,6.4-19.5,10.44s2.28.94,8-.71,6,1.65,6,1.65-7.47-.66-7.55,2.78,16-4.41,20.15,5.59S307,247.87,307,247.87l5.29-1.84a24.64,24.64,0,0,0,1.69-4.11c.43-1.7,6.18-3.35,10.56-5.56s-2.46-3.14-1.49-3.55,10.51-.23,15-1.34-8.27-5.26-8.27-5.26,23,4.37,23-1.28S340.42,212.67,340.42,212.67Z"
                    style="fill: #6268A2; transform-origin: 313.395px 226.89px;" id="ellibv7yk2ewn" class="animable"></path>
                <path
                    d="M302,224.6c-4.89-3.84-4.19,1.4-4.19,1.4A21.48,21.48,0,0,0,286,223.9c-7,.7-4.89,2.1-4.89,2.1s-2.8-1.05-7.69,5.24-4.19,10.84-2.45,9.44,12.59-7.34,12.59-7.34-8.39,5.94-3.85,7.69c3.41,1.31,10.55-1.7,13.91-3.29-2,1.09-4.39,2.82-.62,3.29,5.59.7,11.88,8,11.88,8l1.75-3.15S306.93,228.45,302,224.6Z"
                    style="fill: #6268A2; transform-origin: 288.149px 236.112px;" id="elz8nlqy242t" class="animable"></path>
                <polygon points="316.61 268.3 298.99 268.3 296.79 244.88 318.81 244.88 316.61 268.3"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 307.8px 256.59px;"
                    id="elizsmpa68ah7" class="animable"></polygon>
                <polygon points="288.9 342.44 286.11 342.44 284.71 282.67 290.3 282.67 288.9 342.44"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 287.505px 312.555px;"
                    id="elfq6dt845or" class="animable"></polygon>
                <polygon points="417.19 342.44 414.39 342.44 412.99 282.67 418.59 282.67 417.19 342.44"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 415.79px 312.555px;"
                    id="elm7tpma6k6a" class="animable"></polygon>
                <path
                    d="M420.68,270.08H282.61v17.13H308.7l1.7.35c8.39,1.75,14.33,7,27.62,6.29,7.27-.38,11.38-2.64,13.63-4.62,2.25,2,6.36,4.24,13.63,4.62,13.28.7,19.23-4.54,27.62-6.29l1.7-.35h26.08Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 351.645px 281.998px;"
                    id="elxhan1bowb18" class="animable"></path>
                <rect x="282.61" y="270.08" width="138.07" height="4.04"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 351.645px 272.1px;"
                    id="elboqgmjg00z9" class="animable"></rect>
                <rect x="278.06" y="267.56" width="146.93" height="3.75"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 351.525px 269.435px;"
                    id="elr58sk93wq2" class="animable"></rect>
            </g>
            <g id="freepik--Character--inject-104" class="animable" style="transform-origin: 187.688px 293.781px;">
                <g id="elvxqlw7fi0h">
                    <ellipse cx="177.87" cy="364.91" rx="82.37" ry="23.75"
                        style="opacity: 0.28; transform-origin: 177.87px 364.91px;" class="animable" id="elzlcw6rzmim">
                    </ellipse>
                </g>
                <path
                    d="M279.27,327.41s-4.85-7.46-20.13-5.59S211.06,330,198,332.25,164.84,349,160.37,358.34s-1.12,14.91,27.21,16.4S255,353.12,267.34,346,278.52,331.13,279.27,327.41Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 219.003px 348.164px;"
                    id="el7ol743m1lw5" class="animable"></path>
                <path
                    d="M202.79,222.53s-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246c-5.86,0-26.73-2.78-33.77,10.72s-8.77,53.53-8.47,55.88-17.9,17.9-17.31,37,20.83,29.92,49.29,25.82,35.79-25.24,35.79-37.56,6.16-19.07,12.91-32,16.72-26.4,13.49-37.85S216,251.28,211.89,249.81s7.63-15,4.69-21.71S207.78,218.71,202.79,222.53Z"
                    style="fill: #6268A2; transform-origin: 176.106px 298.53px;" id="elvrqr2z5k1ze" class="animable"></path>
                <g style="clip-path: url(&quot;#freepik--clip-path-3--inject-104&quot;); transform-origin: 167.62px 310.278px;"
                    id="elc0qtuvnofdi" class="animable">
                    <g id="ele74rhz9p6n">
                        <path
                            d="M201.84,307.3c-12.49,4.63-22.81.31-36.54-3.7s-7.87-13.88-7.87-24.05-12,3.7-12,3.7l-6.71,7.06a212.9,212.9,0,0,0-1.33,22.29c.26,2.1-14.25,14.75-16.9,31a168.75,168.75,0,0,0,20.31,1.13c28.22,0,61.93-14.49,65.22-21.28,3.09-6.39,8.14-22,8.73-23.87C214.43,300.36,212.6,303.31,201.84,307.3Z"
                            style="opacity: 0.13; transform-origin: 167.62px 310.278px;" class="animable" id="elvxyfuo4tkg8">
                        </path>
                    </g>
                </g>
                <path
                    d="M202.79,222.53s-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246c-5.86,0-26.73-2.78-33.77,10.72s-8.77,53.53-8.47,55.88-17.9,17.9-17.31,37,20.83,29.92,49.29,25.82,35.79-25.24,35.79-37.56,6.16-19.07,12.91-32,16.72-26.4,13.49-37.85S216,251.28,211.89,249.81s7.63-15,4.69-21.71S207.78,218.71,202.79,222.53Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 176.106px 298.53px;"
                    id="el69pl9rmnmg" class="animable"></path>
                <path d="M222.45,282.09s-6.75,4.4-7.34,8.5.88,12.91-4.69,17.61-9.68,4.69-9.68,4.69"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 211.595px 297.49px;"
                    id="elaxg1knwm0oc" class="animable"></path>
                <path d="M150.72,296.62s0,10.58,12.62,11.39"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 157.03px 302.315px;"
                    id="el2jesia7013o" class="animable"></path>
                <path d="M189.4,281.55A89,89,0,0,1,193.87,295"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 191.635px 288.275px;"
                    id="elw6zwoosa0bh" class="animable"></path>
                <path
                    d="M205.57,332.52c1.49-9.22,6.77-15.74,12.48-26.67.9-1.73,1.87-3.47,2.85-5.22-5.34,2.09-6.22.73-6.22.73-2.53,5.9-5.91,8.15-5.91,8.15l-9.19,25.29Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 210.24px 317.715px;"
                    id="elyfmy7qo277k" class="animable"></path>
                <path
                    d="M123.53,333.77a35.68,35.68,0,0,0-3.47,15.8c.58,19.07,20.83,29.92,49.29,25.82s35.79-25.24,35.79-37.56a32,32,0,0,1,1.93-11.1C153.53,338.7,132,336.71,123.53,333.77Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 163.564px 351.491px;"
                    id="eldmtrxzjwh4u" class="animable"></path>
                <path d="M184.93,311.66l-7.33-16a1,1,0,0,0-1.82.84l7.34,15.94Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 180.309px 303.76px;"
                    id="elz7f84484krl" class="animable"></path>
                <polygon points="183.12 312.49 184.89 313.95 184.93 311.66 183.12 312.49"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 184.025px 312.805px;"
                    id="els4t94dfvo28" class="animable"></polygon>
                <path d="M176.27,295.22a1,1,0,0,0-.49,1.33l.74,1.61,1.82-.83-.74-1.62A1,1,0,0,0,176.27,295.22Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 177.014px 296.643px;"
                    id="elof7dheuyhy" class="animable"></path>
                <path
                    d="M174.33,247.76a27.08,27.08,0,0,0-23.18,2.64c-11.73,7.33-22.16,29.12-26.56,36.75s-19,40.26-15.65,41c1.74.39,56.59-10,61.29-10.27s11.14-3.23,11.14-3.23,2.94,3.23,4.41,1.76-2.65-9.09-4.7-11.44-4.69-3.23-6.16-2.05-10.56,9.68-10.56,9.68l-35.3-1.22,29.14-38.1"
                    style="fill: #6268A2; transform-origin: 147.268px 287.221px;" id="elsyrare7b6vd" class="animable"></path>
                <g style="clip-path: url(&quot;#freepik--clip-path-4--inject-104&quot;); transform-origin: 145.605px 289.57px;"
                    id="ele31ecu4ijze" class="animable">
                    <g id="elwpe6hbihnis">
                        <path
                            d="M179,307.61c-4.48-3.75-7.68,2.11-11.3,5.07s-9.86,2.63-28.92,2.63-19.73.66-21.37,1.64,3.29-13.8,15.45-27.61,19.72-25.3,19.72-34.18c0-2.86-1-4-2.33-4.18-11.38,7.84-21.4,28.74-25.69,36.17-4.4,7.63-19,40.26-15.65,41,1.74.39,56.59-10,61.29-10.27s11.14-3.23,11.14-3.23a11.42,11.42,0,0,0,1.36,1.22C183.17,313,181.87,310,179,307.61Z"
                            style="opacity: 0.13; transform-origin: 145.605px 289.57px;" class="animable" id="elhmxokx1itrk">
                        </path>
                    </g>
                </g>
                <path
                    d="M174.33,247.76a27.08,27.08,0,0,0-23.18,2.64c-11.73,7.33-22.16,29.12-26.56,36.75s-19,40.26-15.65,41c1.74.39,56.59-10,61.29-10.27s11.14-3.23,11.14-3.23,2.94,3.23,4.41,1.76-2.65-9.09-4.7-11.44-4.69-3.23-6.16-2.05-10.56,9.68-10.56,9.68l-35.3-1.22,29.14-38.1"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 147.268px 287.221px;"
                    id="elfbidxmn3z1g" class="animable"></path>
                <path
                    d="M181.37,314.65s2.94,3.23,4.41,1.76-2.65-9.09-4.7-11.44-4.69-3.23-6.16-2.05-10.56,9.68-10.56,9.68l-35.3-1.22,8.83-11.55A39.36,39.36,0,0,1,122,292.12c-5.81,11.78-15.91,35.4-13.06,36,1.74.39,56.59-10,61.29-10.27S181.37,314.65,181.37,314.65Z"
                    style="fill: rgb(255, 255, 255); transform-origin: 147.267px 310.125px;" id="elvk8bjf62c0k"
                    class="animable"></path>
                <g style="clip-path: url(&quot;#freepik--clip-path-5--inject-104&quot;); transform-origin: 145.604px 310.165px;"
                    id="elad3rj4z465" class="animable">
                    <path
                        d="M179,307.61c-4.48-3.75-7.68,2.11-11.3,5.07s-9.86,2.63-28.92,2.63-19.73.66-21.37,1.64c-1.38.83,1.89-9.51,10.22-21a36.71,36.71,0,0,1-5.66-3.79c-5.81,11.78-15.91,35.4-13.06,36,1.74.39,56.59-10,61.29-10.27s11.14-3.23,11.14-3.23a11.42,11.42,0,0,0,1.36,1.22C183.17,313,181.87,310,179,307.61Z"
                        style="fill: #6268A2; transform-origin: 145.604px 310.165px;" id="el7yu7lelrkdg" class="animable">
                    </path>
                    <g id="elk2ts6dhmvpe">
                        <path
                            d="M179,307.61c-4.48-3.75-7.68,2.11-11.3,5.07s-9.86,2.63-28.92,2.63-19.73.66-21.37,1.64c-1.38.83,1.89-9.51,10.22-21a36.71,36.71,0,0,1-5.66-3.79c-5.81,11.78-15.91,35.4-13.06,36,1.74.39,56.59-10,61.29-10.27s11.14-3.23,11.14-3.23a11.42,11.42,0,0,0,1.36,1.22C183.17,313,181.87,310,179,307.61Z"
                            style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 145.604px 310.165px;"
                            class="animable" id="elj0ww6dvxq4"></path>
                    </g>
                </g>
                <path
                    d="M181.37,314.65s2.94,3.23,4.41,1.76-2.65-9.09-4.7-11.44-4.69-3.23-6.16-2.05-10.56,9.68-10.56,9.68l-35.3-1.22,8.83-11.55A39.36,39.36,0,0,1,122,292.12c-5.81,11.78-15.91,35.4-13.06,36,1.74.39,56.59-10,61.29-10.27S181.37,314.65,181.37,314.65Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 147.267px 310.125px;"
                    id="eldkl8jxl1z4j" class="animable"></path>
                <polygon points="179.61 312.6 155.85 336.36 193.4 341.06 214.23 323.16 179.61 312.6"
                    style="fill: rgb(255, 255, 255); transform-origin: 185.04px 326.83px;" id="elw7rbv0t2mfs" class="animable">
                </polygon>
                <g style="clip-path: url(&quot;#freepik--clip-path-6--inject-104&quot;); transform-origin: 185.04px 326.83px;"
                    id="els72qfbit3nl" class="animable">
                    <g id="elxwxk8s13qcr">
                        <polygon points="179.61 312.6 155.85 336.36 193.4 341.06 214.23 323.16 179.61 312.6"
                            style="opacity: 0.36; transform-origin: 185.04px 326.83px;" class="animable" id="el6na7qfzq12c">
                        </polygon>
                    </g>
                </g>
                <polygon points="179.61 312.6 155.85 336.36 193.4 341.06 214.23 323.16 179.61 312.6"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 185.04px 326.83px;"
                    id="el2frlx8r904" class="animable"></polygon>
                <polygon points="179.03 307.61 179.61 312.6 155.85 336.36 154.68 333.72 179.03 307.61"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 167.145px 321.985px;"
                    id="eleexz261zahd" class="animable"></polygon>
                <polygon points="179.61 312.6 214.23 323.16 216 319.64 179.03 307.61 179.61 312.6"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 197.515px 315.385px;"
                    id="el3hps1s5l1ja" class="animable"></polygon>
                <path d="M205.34,333.2s-5.92.71-5.76,1.6,5,.71,6.07.71S208.45,333,205.34,333.2Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 203.341px 334.357px;"
                    id="eljpza6qwzzxa" class="animable"></path>
                <path d="M207.43,330.87s-7.46.79-7.27,1.77,6.29.78,7.66.78S211.35,330.67,207.43,330.87Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 204.909px 332.148px;"
                    id="el5dps3lisca5" class="animable"></path>
                <path d="M210,328.51s-7.46.79-7.27,1.77,6.29.79,7.66.79S213.91,328.32,210,328.51Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 207.477px 329.793px;"
                    id="el7tijme5kcyf" class="animable"></path>
                <path d="M210.37,326.16s-7.46.78-7.26,1.77,6.28.78,7.65.78S214.3,326,210.37,326.16Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 207.856px 327.441px;"
                    id="elyr7gwm5do2" class="animable"></path>
                <path
                    d="M121.66,353.5s-3.35-8.2,7.09-15.28,49.51-11.56,58.83-7.83,44.73,32.8,44.73,32.8l-4.48,4.47s-27.21.74-38.76-2.24S173,361,173,361s-9.69,13.79-23.11,14.16"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 176.729px 352.102px;"
                    id="el575fxxk7hom" class="animable"></path>
                <path
                    d="M228.21,370.27a87.59,87.59,0,0,0,24.59,6c13.42,1.12,17.52-9.69,17.52-13s-5.59-2.61-11.18-1.87-19.38,1.49-22.74,1.12S224.11,363.56,228.21,370.27Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 248.737px 368.567px;"
                    id="eltzjdlhwplzc" class="animable"></path>
                <path
                    d="M260.63,326.29s-16-.38-24.6,8.2-27.58,32.42-32.05,36.9-22.36,3.35-26.09,3-7.46-3-12.67-.75-11.93,6-13.05,10.81-1.86,6.71.37,7.08S166.71,390,173,390s21.62-1.12,30.57-3.72,34.66-17.9,44.72-23.86,28-16.77,30.94-26.83-4.85-12.3-9.32-11.56"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 215.486px 357.739px;"
                    id="el9njcjp1y1gt" class="animable"></path>
                <path d="M208.75,369.06s21.5-32,32.5-38,23-5,23-5"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 236.5px 347.529px;"
                    id="el67qil8zkq3w" class="animable"></path>
                <path
                    d="M200.47,373.27c-6.88,2.21-19.52,1.4-22.58,1.1-3.73-.37-7.46-3-12.67-.75s-11.93,6-13.05,10.81-1.86,6.71.37,7.08S166.71,390,173,390s21.62-1.12,30.57-3.72a55.08,55.08,0,0,0,7.38-3C208.39,378.61,203.72,375.21,200.47,373.27Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 181.022px 382.139px;"
                    id="el0xchfh4jci1" class="animable"></path>
                <path
                    d="M189.07,374.37s6.71,3,8.2,6.33,2.61,6.34,2.61,7.46,12.3-1.86,16-5.59-6-13.79-9.32-13.79-4.1,1.12-8.2,2.23S188.32,371.39,189.07,374.37Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 202.857px 378.589px;"
                    id="elqrn1p2uky9c" class="animable"></path>
                <path d="M173,361s-8.2-4.1-8.57-9.32"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 168.715px 356.34px;"
                    id="el9orhztmh6ae" class="animable"></path>
                <path d="M157.75,373.06a72.61,72.61,0,0,0,18-11s16,5,26.5,5"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 180px 367.56px;"
                    id="el4y34one9xfa" class="animable"></path>
                <path
                    d="M217.35,252.24a43,43,0,0,0-5.46-2.43c-4.11-1.46,7.63-15,4.69-21.71s-8.8-9.39-13.79-5.57c0,0-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246a26.42,26.42,0,0,0-3.32.25c-.56,6.5-.11,22.07,16.23,26.45C207.91,276.82,214.49,264.12,217.35,252.24Z"
                    style="fill: rgb(255, 255, 255); transform-origin: 196.752px 247.135px;" id="eluycy1d0fgs" class="animable">
                </path>
                <g style="clip-path: url(&quot;#freepik--clip-path-7--inject-104&quot;); transform-origin: 192.478px 240.649px;"
                    id="elb7sf62qy2cs" class="animable">
                    <path
                        d="M202.79,222.53s-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246a26.42,26.42,0,0,0-3.32.25c-.07.82-.12,1.79-.13,2.87,1.64,4.25,4.8,9.79,10.31,11,9.2,2,15.77-4.6,17.09-6.9,1.18-2.08,6.4-23.21,5-32.36A7.72,7.72,0,0,0,202.79,222.53Z"
                        style="fill: #6268A2; transform-origin: 192.478px 240.649px;" id="elxmgenkwtuhf" class="animable">
                    </path>
                    <g id="elhdva7zn6hcw">
                        <path
                            d="M202.79,222.53s-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246a26.42,26.42,0,0,0-3.32.25c-.07.82-.12,1.79-.13,2.87,1.64,4.25,4.8,9.79,10.31,11,9.2,2,15.77-4.6,17.09-6.9,1.18-2.08,6.4-23.21,5-32.36A7.72,7.72,0,0,0,202.79,222.53Z"
                            style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 192.478px 240.649px;"
                            class="animable" id="elneqxohnk4y"></path>
                    </g>
                </g>
                <path
                    d="M217.35,252.24a43,43,0,0,0-5.46-2.43c-4.11-1.46,7.63-15,4.69-21.71s-8.8-9.39-13.79-5.57c0,0-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246a26.42,26.42,0,0,0-3.32.25c-.56,6.5-.11,22.07,16.23,26.45C207.91,276.82,214.49,264.12,217.35,252.24Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 196.752px 247.135px;"
                    id="el5izkt2ecxo" class="animable"></path>
                <path d="M202.6,255.45s-3.62,1.7-4.8,7"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 200.2px 258.95px;"
                    id="ela14yi909dq6" class="animable"></path>
                <path d="M211.59,204.34s1.76-5.87-2.34-7.92-19.95,4.1-23.47,14.37,11.44,14.38,19.65,8.51,6.75-13.79,6.75-13.79Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 198.767px 209.012px;"
                    id="elk72ccx0wrhs" class="animable"></path>
                <path d="M185.78,210.79s-3.31,8.88,2.8,13.36,15.06-4.07,15.06-4.07"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 194.262px 218.119px;"
                    id="elooctm6y69h" class="animable"></path>
                <path
                    d="M203.09,232.5S196.34,225.17,201,212s17-16.71,31.72-15.91c18.5,1,20.21,20.31,19.63,25a56.21,56.21,0,0,1-1.76,8.51s7.33,9.09,3.22,14.67-18.48,2.93-24.06-4.7-22.29-5.28-23.17-4.69S203.09,232.5,203.09,232.5Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 227.211px 221.616px;"
                    id="elmm9nc74ap4" class="animable"></path>
                <path d="M241.25,244.86a6,6,0,0,1-2.19-1.57"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 240.155px 244.075px;"
                    id="eljsgfx55lcfq" class="animable"></path>
                <path d="M237,228.63s14.24,11.4,9.77,15.06a8.26,8.26,0,0,1-1.38.92"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 242.319px 236.62px;"
                    id="elxd6td312y3h" class="animable"></path>
                <path d="M235,225.37a31.09,31.09,0,0,1,13.84,2.85"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 241.92px 226.79px;"
                    id="elvv8fuirx43m" class="animable"></path>
                <line x1="234.99" y1="220.08" x2="231.73" y2="204.61"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 233.36px 212.345px;"
                    id="el2bihwdexh7" class="animable"></line>
                <path d="M207.1,219.92c-.55-.19-1.1-.4-1.67-.62"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 206.265px 219.61px;"
                    id="elpfgs0msxqy" class="animable"></path>
                <path d="M233.77,218.05s-8,6.12-21.5,3.31"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 223.02px 220.074px;"
                    id="elcv0dsn8gs1e" class="animable"></path>
                <path d="M232.14,211.94s-4.88,2.44-13,2.44"
                    style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 225.64px 213.16px;"
                    id="elg3um3u3wzno" class="animable"></path>
                <path
                    d="M200.15,233.09s-.88,8.21.59,13.79,1.76,14.38,7,15.26,22.59-8.81,25.82-12.33a12.61,12.61,0,0,0,3.52-8.8c0-1.76-2.93-14.08-2.93-14.08a112.58,112.58,0,0,1-15,2.35,36.72,36.72,0,0,1-16.13-2.06S199,229.86,200.15,233.09Z"
                    style="fill: rgb(255, 255, 255); transform-origin: 218.484px 244.563px;" id="ell3ne5gjel79"
                    class="animable"></path>
                <g style="clip-path: url(&quot;#freepik--clip-path-8--inject-104&quot;); transform-origin: 215.859px 244.05px;"
                    id="eljmfwigi6fk" class="animable">
                    <path
                        d="M203.09,227.22s-4.11,2.64-2.94,5.87c0,0-.88,8.21.59,13.79,1.2,4.55,1.61,11.25,4.6,14-2.47-5.41-3.74-18.53,2.49-24.17,6.9-6.24,24-9.2,24-9.2l0-.1c-2.53.51-6.93,1.28-12.58,1.83A36.72,36.72,0,0,1,203.09,227.22Z"
                        style="fill: #6268A2; transform-origin: 215.859px 244.05px;" id="el1kfaw8ze99z" class="animable"></path>
                    <g id="el24fb841w42o">
                        <path
                            d="M203.09,227.22s-4.11,2.64-2.94,5.87c0,0-.88,8.21.59,13.79,1.2,4.55,1.61,11.25,4.6,14-2.47-5.41-3.74-18.53,2.49-24.17,6.9-6.24,24-9.2,24-9.2l0-.1c-2.53.51-6.93,1.28-12.58,1.83A36.72,36.72,0,0,1,203.09,227.22Z"
                            style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 215.859px 244.05px;"
                            class="animable" id="elwudz07kbxc"></path>
                    </g>
                </g>
                <path
                    d="M200.15,233.09s-.88,8.21.59,13.79,1.76,14.38,7,15.26,22.59-8.81,25.82-12.33a12.61,12.61,0,0,0,3.52-8.8c0-1.76-2.93-14.08-2.93-14.08a112.58,112.58,0,0,1-15,2.35,36.72,36.72,0,0,1-16.13-2.06S199,229.86,200.15,233.09Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 218.484px 244.563px;"
                    id="elo6lnbiq1d4" class="animable"></path>
                <path d="M203.67,230.16s.3-7.34-3.23-7.34-5.86,12,.89,13.5"
                    style="fill: rgb(255, 255, 255); transform-origin: 200.344px 229.57px;" id="elp9nu3hwlv1" class="animable">
                </path>
                <g style="clip-path: url(&quot;#freepik--clip-path-9--inject-104&quot;); transform-origin: 200.344px 229.57px;"
                    id="el02dlw7s4faip" class="animable">
                    <path d="M203.67,230.16s.3-7.34-3.23-7.34-5.86,12,.89,13.5"
                        style="fill: #6268A2; transform-origin: 200.344px 229.57px;" id="elbjv59ay4hn" class="animable"></path>
                    <g id="ele6kmd0cbazs">
                        <path d="M203.67,230.16s.3-7.34-3.23-7.34-5.86,12,.89,13.5"
                            style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 200.344px 229.57px;"
                            class="animable" id="elcg70ra1ueo9"></path>
                    </g>
                </g>
                <path d="M203.67,230.16s.3-7.34-3.23-7.34-5.86,12,.89,13.5"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 200.344px 229.57px;"
                    id="ellfyoqjlyflq" class="animable"></path>
                <path d="M226,243.07s-7,11.14-8.51,11.14-2.35-2.34-2.35-2.34"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 220.57px 248.64px;"
                    id="elc6k6l7twcua" class="animable"></path>
                <path d="M212.77,238.66a5.23,5.23,0,0,0,5.28,4.7"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 215.41px 241.01px;"
                    id="eljhcr1je5u5k" class="animable"></path>
                <path d="M225.38,247.76s.3,3.81,5.28,2.64"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 228.02px 249.192px;"
                    id="elunzd7b0cdld" class="animable"></path>
                <path d="M223.33,239.25s-2.05-5.28-6.75-5.57"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5px; transform-origin: 219.955px 236.465px;"
                    id="el2475k09cw72" class="animable"></path>
                <path d="M233.6,245.41c-2.06-3.52-6.16-2.64-6.16-2.64"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5px; transform-origin: 230.52px 244.041px;"
                    id="eljef5dgv8orl" class="animable"></path>
                <path d="M209.27,253.13a3.59,3.59,0,0,0,2.9,3.19"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 210.72px 254.725px;"
                    id="el3pvieths03w" class="animable"></path>
                <path d="M230.11,257.13s.81,4.47,5.69-4.48-1.61-25.72-1.61-25.72"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 233.864px 242.588px;"
                    id="ellj5kvh5nqrp" class="animable"></path>
                <g id="eloib7qgnqee">
                    <path d="M214.73,299.62a.94.94,0,0,0,.06-.18Z" style="opacity: 0.13; transform-origin: 214.76px 299.53px;"
                        class="animable" id="el6p55t5tx6ps"></path>
                </g>
            </g>
            <defs>
                <filter id="active" height="200%">
                    <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
                    <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
                    <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                    <feMerge>
                        <feMergeNode in="OUTLINE"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                </filter>
                <filter id="hover" height="200%">
                    <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
                    <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>
                    <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                    <feMerge>
                        <feMergeNode in="OUTLINE"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                    <feColorMatrix type="matrix"
                        values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 ">
                    </feColorMatrix>
                </filter>
            </defs>
            <defs>
                <clipPath id="freepik--clip-path--inject-104">
                    <polygon points="272.56 409.03 232.68 395.61 275.54 372.88 314.3 380.7 272.56 409.03"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></polygon>
                </clipPath>
                <clipPath id="freepik--clip-path-2--inject-104">
                    <polygon points="291.19 356.11 272.56 409.03 314.3 380.7 330.7 336.35 291.19 356.11"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></polygon>
                </clipPath>
                <clipPath id="freepik--clip-path-3--inject-104">
                    <path
                        d="M202.79,222.53s-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246c-5.86,0-26.73-2.78-33.77,10.72s-8.77,53.53-8.47,55.88-17.9,17.9-17.31,37,20.83,29.92,49.29,25.82,35.79-25.24,35.79-37.56,6.16-19.07,12.91-32,16.72-26.4,13.49-37.85S216,251.28,211.89,249.81s7.63-15,4.69-21.71S207.78,218.71,202.79,222.53Z"
                        style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></path>
                </clipPath>
                <clipPath id="freepik--clip-path-4--inject-104">
                    <path
                        d="M174.33,247.76a27.08,27.08,0,0,0-23.18,2.64c-11.73,7.33-22.16,29.12-26.56,36.75s-19,40.26-15.65,41c1.74.39,56.59-10,61.29-10.27s11.14-3.23,11.14-3.23,2.94,3.23,4.41,1.76-2.65-9.09-4.7-11.44-4.69-3.23-6.16-2.05-10.56,9.68-10.56,9.68l-35.3-1.22,29.14-38.1"
                        style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></path>
                </clipPath>
                <clipPath id="freepik--clip-path-5--inject-104">
                    <path
                        d="M181.37,314.65s2.94,3.23,4.41,1.76-2.65-9.09-4.7-11.44-4.69-3.23-6.16-2.05-10.56,9.68-10.56,9.68l-35.3-1.22,8.83-11.55A39.36,39.36,0,0,1,122,292.12c-5.81,11.78-15.91,35.4-13.06,36,1.74.39,56.59-10,61.29-10.27S181.37,314.65,181.37,314.65Z"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></path>
                </clipPath>
                <clipPath id="freepik--clip-path-6--inject-104">
                    <polygon points="179.61 312.6 155.85 336.36 193.4 341.06 214.23 323.16 179.61 312.6"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></polygon>
                </clipPath>
                <clipPath id="freepik--clip-path-7--inject-104">
                    <path
                        d="M217.35,252.24a43,43,0,0,0-5.46-2.43c-4.11-1.46,7.63-15,4.69-21.71s-8.8-9.39-13.79-5.57c0,0-7.92,15.25-10.85,18.19A16.21,16.21,0,0,1,179.61,246a26.42,26.42,0,0,0-3.32.25c-.56,6.5-.11,22.07,16.23,26.45C207.91,276.82,214.49,264.12,217.35,252.24Z"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></path>
                </clipPath>
                <clipPath id="freepik--clip-path-8--inject-104">
                    <path
                        d="M200.15,233.09s-.88,8.21.59,13.79,1.76,14.38,7,15.26,22.59-8.81,25.82-12.33a12.61,12.61,0,0,0,3.52-8.8c0-1.76-2.93-14.08-2.93-14.08a112.58,112.58,0,0,1-15,2.35,36.72,36.72,0,0,1-16.13-2.06S199,229.86,200.15,233.09Z"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></path>
                </clipPath>
                <clipPath id="freepik--clip-path-9--inject-104">
                    <path d="M203.67,230.16s.3-7.34-3.23-7.34-5.86,12,.89,13.5"
                        style="fill:#fff;stroke:#263238;stroke-linecap:round;stroke-linejoin:round"></path>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>