<form>
    <img src="assets/lista.png" alt="">

    <label class="form-label">Description</label>
    <input type="text" placeholder="Fazer atividade X" class="form-control" name="description"
        [(ngModel)]="task.description">

    <select class="form-select" name="category" [(ngModel)]="task.category">
        <option selected>Category</option>
        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
    </select>

    <input type="button" value="Cadastrar" class="btn btn-primary" (click)="createTask()">
    <input type="button" value="Cancelar" class="btn btn-secondary">

</form>